{# show habitats #}
{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}
{% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}
{% block body %}
<body>
    <div class="container mt-4">
        <h1>Habitats</h1>
        <p><em>Affichage des différents habitats</em></p>
        <div class="container mt-4">
            <div id="Carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for imageData in imagesWithData %}
                        <li data-target="#Carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <!-- Slide container -->
                <div class="carousel-inner">
                    {% for imageData in imagesWithData %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="/images/products/{{ imageData.image.imagename }}" class="d-block mx-auto w-50" alt="Image {{ loop.index }}">
                            <div class="text-center">
                                <h3>{{ imageData.habitat.name }}</h3>
                                <i><p>{{ imageData.habitat.description }}</p></i>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% if imageData.animals is not empty %}
                                        <p>Vous pouvez y trouver les animaux suivants :</p>
                                        <ul>
                                            {% for animal in imageData.animals %}
                                                <li><a href="{{ path('app_animal', {'id': animal.id}) }}">{{ animal.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="col-md-6" style="text-align: right;">
                                    <p>Dernier commentaire du vétérinaire :</p>
                                    {% if imageData.habitat.commentairehabitat %} 
                                        <em>{{ imageData.habitat.commentairehabitat }}</em><br>
                                    {% else %}
                                        <em>Aucun commentaire</em><br>
                                    {% endif %}
                                    {% if 'ROLE_VETERINARY' in roles %}
                                        {% if imageData.habitat.commentairehabitat %}
                                            <a class="btn btn-success" href="{{ path('app_admin_habitat_comment', {'id': imageData.habitat.id}) }}">Modifier le commentaire</a>
                                        {% else %}
                                            <a class="btn btn-success" href="{{ path('app_admin_habitat_comment', {'id': imageData.habitat.id} )}}">Ajouter un commentaire</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
        </div>
            
    </div>
    <!-- Controls -->
    <a class="carousel-control-prev mt-5" href="#Carousel" role="button" data-slide="prev" >
        <img src="/images/left.svg" alt="Précédent">
    </a>
    <a class="carousel-control-next mt-5" href="#Carousel" role="button" data-slide="next" style="z-index: 1;">
        <img src="/images/right.svg" alt="Suivant">
    </a>  
</body>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

