{# index race #}
{% extends 'base.html.twig' %}
{% block title 'Gérer les différentes races' %}
{% block body %}
<div class="container mt-4">
    <h1>Gérer les races</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for race in races %}
                <tr>
                    <td>{{ race.label }}</td>
                    <td>
                        <a href="{{ path('app_admin_race_edit', {'id': race.id}) }}" class="btn btn-primary">Editer</a>
                        <form method="post" action="{{ path('app_admin_race_delete', {'id': race.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ race.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('app_admin_race_new')}}" class="btn btn-success"> Ajouter une nouvelle race</a>
    </div>
</div>
{% endblock %}