{# home admin #}
{% extends 'base.html.twig' %}

{% block body %}

{% if user %}
    <p>Bonjour, {{ user.email }}</p>
    <h1> Page d'administration </h1>
    <p>Affichage des cruds</p>
        {% if 'ROLE_ADMIN' in roles %}
            <a href="{{ path('app_admin_user_index') }}">Gérer les utilisateurs</a><br>
            <a href="{{ path('app_admin_opinion_index') }}">Gérer les avis</a><br>
            <a href="{{ path('app_admin_service_index') }}">Gérer les services</a><br>
            <a href="{{ path('app_admin_habitat_index') }}">Gérer les habitats</a><br>
        {% endif %}
        {% if 'ROLE_EMPLOYEE' in roles %}
            <a href="{{ path('app_admin_opinion_index') }}">Gérer les avis</a>     
            <p>Vous êtes employé</p>
        {% endif %}
        {% if 'ROLE_VETERINARY' in roles %}
            <p>Vous êtes veterinaire</p>
        {% endif %}
{% else %}
    <p>Bonjour, visiteur</p>
{% endif %}


{% endblock %}