<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Arcadia{% endblock %}</title>
        {% block stylesheets %}
        {% if app.request.attributes.get('_route') == 'app_habitat' %}
                <link rel="stylesheet" href="{{ asset('styles/carousel.css') }}">
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
        <style>

        </style>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {% if app.request.attributes.get('_route') == 'app_habitat' %}
                <script src="{{ asset('myjs/caroussel.js') }}"></script>
            {% endif %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% endblock %}

    </head>

    <body style="z-index: 2;">
    <div class="navbar-container" >
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" href="{{ path('app_home')}}">Arcadia Zoo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupported" aria-controls="navbarSupported" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupported">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'service' %}active{% endif %}" href="{{ path('app_service')}}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'habitat' %}active{% endif %}" href="{{ path('app_habitat')}}">Habitats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}" href="{{ path('app_contact')}}">Contact</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('app_admin')}}">Admin</a>
                    </li>
                    {% endif %}
                </ul>
                {% if app.user %}
                <div class="btn-log" style="float: right;">
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <a class="btn btn-danger my-2 my-sm-0" href="{{ path('app_logout') }}">Déconnexion</a>
                    </form>
                </div>
                {% else %}
                <div class="btn-log" style="float: right;">
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <a class="btn btn-success my-2 my-sm-0" href="{{ path('app_login') }}">Connexion</a>
                    </form>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>


    <div class="container mt-2"> <!-- Ajoutez cette div comme conteneur pour le contenu de la page -->
        {% block body %}
        {% endblock %}
    </div>
    </body>
</html>
