{# index habitat #}
{% extends 'base.html.twig' %}
{% block title 'Gérer les habitats' %}
{% block body %}

<div class="container mt-4">
    <h1>Gérer les habitats</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for habitat in habitats %}
                <tr>
                    <td>{{ habitat.name }}</td>
                    <td>{{ habitat.description }}</td>
                    <td>
                        <a href="{{ path('app_admin_habitat_edit', {'id': habitat.id}) }}" class="btn btn-primary">Editer</a>
                        <form method="post" action="{{ path('app_admin_habitat_delete', {'id': habitat.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habitat.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('app_admin_habitat_new')}}" class="btn btn-success"> Créer un nouvel habitat</a>
    </div>
{% endblock %}